@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rbc-event,
.rbc-event-content,
.rbc-row-segment {
  overflow: visible;
}
